.link__forward {
  width: 110px;
  align-self: flex-start;
  position: relative;
  cursor: pointer;

  & button {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1b1c21;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 11px;
    background: url(icons/arrow-down.svg) center center no-repeat;
    transition: transform 0.3s;
  }

  &--active::before {
    transform: rotate(180deg);
    transform-origin: 50% 20%;
  }
}
